@charset "utf-8";
/* CSS Document */

.slideshow img { display: none }
.slideshow img.first { display: block }

#controls { z-index: 1000; position: absolute; bottom: 0; right: 0; display: none;
    background-color: #003560; border: 1px solid #ddd; margin: 0; padding: 6px; 
    width: 200px;
}

 
 #pause {padding: 2px;}
 #play {padding: 2px;}
 #next {padding: 2px;}
 #prev{ padding: 2px;}
 